
@foreach (var cat in Model)
{

    <div class="col-4 align-middle">

        <a asp-controller=Tool asp-route-id="@(cat.Id)" asp-action=Index class=”nav-link”>
            <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 75%; background-color: @(cat.Color);">
                <img class="NO-CACHE" id="cursorimage1" alt="Tools" src="~/img/@(cat.CatName.Substring(0, 1)).jpg" />
            </div>
        </a>

        <div style="height: 10px;"></div>

        <div class="d-flex align-items-center justify-content-center">
           <h4 style="color: @(cat.Color)">@(cat.Title)</h4>
        </div>


        <div class="d-flex align-items-center justify-content-center">
            <h6 style="color: @(cat.Color)">@(cat.Description)</h6>
        </div>

    </div>

}










